/* ***** CSS RESET ***** */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ***** END CSS RESET ***** */
:root {
  --main-bg-color: #edf2f4;
  --main-text-color: #2b2d42;
  --accent-light: #bab99762;
  --accent-dark: #457b9d;
  --accent-red: #ef233c;
}
html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--main-bg-color);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ***** HEADER ****** */
header {
  margin: 0;
}
.nav {
  position: fixed;
  margin: 0;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__item {
  color: white;
}

/* ***** MAIN ***** */
main {
  width: 100%;
  margin: auto;
}

/* .background {
  background-color: hsla(255, 100%, 0%, 1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  padding: 2rem;
} */

/* ***** HERO ***** */

.hero {
  min-height: 80vh;
  min-height: 80dvh;
  height: 1px;
}

.hero__container {
  height: 100%;
  width: 100%;
  color: var(--main-text-color);
  display: flex;
}

.hero__left {
  flex-grow: 2;
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  row-gap: 2rem;
  min-width: 60vw;
}

.center {
  grid-column: 1 / 3;
}

h1 {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  text-align: center;
  grid-column: 1 /3;
}

a:link {
  text-decoration: none;
  color: black;
  width: max-content;
  /* margin: auto; */
  padding: 1rem;
  border: solid;
  border-width: 2px;
  border-color: transparent;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
  background-color: var(--accent-dark);
  border-color: white;
}

a:active {
}

.hero__link {
  margin: auto;
}

.contact {
}

.hero__right {
  min-width: 30rem;
  background-color: var(--accent-dark);
}

.hero__img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

/* ***** SECTIONS ***** */
.section {
  padding: 3rem;
}

.section__header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.right {
  order: 2;
}

.left {
  order: 1;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

p {
  padding: 1rem;
}

/* ***** JOURNEY ***** */
.myjourney {
  background-color: var(--accent-light);
}
.journey {
  display: flex;
}

.journey__h3 {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 3rem;
  height: min-content;
  margin: auto;
}

/* ***** SKILLS ***** */
.skills {
  background-color: cadetblue;
}
/* ***** PROJECTS ***** */
.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects > h2 {
  text-align: center;
}

.project {
  margin: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.lighthall__project {
  display: flex;
  align-items: center;
  padding: 2rem;
}

h4 {
  text-align: center;
  font-size: 2rem;
}

.lighthall__img__container {
  border: solid;
  border-color: transparent;
  border-radius: 1rem;
  max-width: 30rem;
  padding: 1rem;
}

.lighthall__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.lighthall__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

a.project__link {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

a.project__link:hover {
  background-color: var(--accent-dark);
}

/* ***** FOOTER ***** */
footer {
  background-color: var(--main-bg-color);
  text-align: center;
}
